---
layout: page 
permalink: /tags/
---

<ul class="tag-cloud">
{% for tag in site.tags %}
{% capture font_color %} {{ ["yellow","red","blue"] | sample : 1 }} {% endcapture %}
{{ font_color }}
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="#{{ tag | first | slugize }}">
        {% capture first_tag %} {{ tag | first }} {% endcapture %}
        {{ first_tag }}({{ tag[1] | size }}) {{ cycle ""}}
    </a>
  </li>
{{ ["yellow","red","blue"] | sample:1 }}
{% endfor %}
</ul>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <a name="{{ tag_name | slugize }}"></a>
    <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}({{ tag[1] | size }})</h3>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h4><a class="post-link"  href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
