---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>


</article>
  <h3 class="page-heading">最新文章推荐:</h3>

    {% for post in site.related_posts limit:5 %}
      <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h5>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h5>
      </li>
    {% endfor %}


{% assign postsAfterFilter = '-' | split: "-" %}
{% for post in site.related_posts %}
  {% assign commonTagCount = 0 %}
  {% if post.title != page.title and post.series != page.series %}
    {% for tag in post.tags %} 
      {% if page.tags contains tag %}

        {% comment %} 统计共同的tag的数目, 用来后面的筛选以及排序用 {% endcomment %} 
        {% assign commonTagCount = commonTagCount | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if commonTagCount > 0 %}

      {% comment %} 将符合条件的post放入一个新的数组之中 {% endcomment %} 
      {% assign postsAfterFilter = postsAfterFilter | push: post %}
    {% endif %}
  {% endif %}
{% endfor %}

{% comment %} 容错判断, 确保有相关文章的时候再展示相关文章 {% endcomment %} 
{% if postsAfterFilter.size > 0 %}
<div class="relatedposts">
  <h2>Related Posts:</h2>
  <ul class="article-list">
  {% for post in postsAfterFilter limit: 5 %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}


