<section id="content">
  <article class="page">

    <header>
      <h1>{{ page.title }}{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
    </header>

    <section>
      {{ content }}
    </section>

  </article>
</section>

<section id="comments">
    <div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'huyongde',
  repo: 'gitcomment',
  oauth: {
    client_id: 'f307adeeda36375f022c',
    client_secret: 'c924dd7a6d707a281d634c006f1c995582da8bc1',
  },
})
gitment.render('container')
</script>
</section>
